$color-h1: #E74C3C;

header {
    background-color: fuchsia !important;
    h1 {
        margin-left: 20px;
        color: $color-h1;
        background-image: url('../assets/img/angular.png');
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 40px;
    }
}

section {
    padding: 0 20px;
}